body { 
    background-color: rgb(4, 6, 41);
}
.box { 
    display: flex;
    justify-content: center;
    border: 5px;
    border-color: black;
}

.squares-container {
    display: grid;
    gap:0px;
    width: 600px; 
    height: 600px;
    align-content: center;
    outline: 5px solid rgb(245, 87, 87);
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;


}

/* .gridSquare:hover { 
    background-color: black;
} */

#buttonContainer{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:10px;
    padding-bottom: 70px;
}

.gridSquare { 
    border: black 2px;
   
}

.draw { 
    background-color: black;
}

#content { 
    display: flex;
    flex-direction: column;
    gap: 10px;;

}

.etch-a-sketch-box { 
    display: flex;
    justify-content: center;
    padding-top: 10px;
  
}

.input-box { 
    display: flex;
    gap:5px;
    flex-direction: column;
    margin-top: 30px;
}

.permahover { 
    background-color: black;
}

.box-border { 
      width: 750px;
    height: 750px;
    margin-right: -675px;
    margin-top: -75px;
    background-color: rgb(218, 25, 25);
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 8px 20px;
}


.header { 
    padding-bottom: 50px;
    margin-top: 40px;
}

#slider-box{ 
    /* margin-right: -410px;
    margin-left: 532px; */
    display: flex;
    flex-direction: row;
    gap:25px;
}

.title-text { 
    font-family: "bc-eric-machat-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8em;
    margin-left: 7px;
    color: #faf5f0;
}

.upper-content { 
    display: flex;
    justify-content: center;
    gap: 187px;
    margin-top: -8px;
}

.lower-content { 
    display: flex;
    align-items: flex-end;
    padding-left: 88px;
    margin-bottom: 15px;
    font-family: "bc-eric-machat", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(252, 227, 227);
    padding-top: 490px;
    justify-content: flex-start;
    margin-top: 80px;
    
}

.yellow { 
    color: rgb(128, 10, 10);
}

