.box { 
    display: flex;
    justify-content: center;
    border: 5px;
    border-color: black;
}

.squares-container {
    display: grid;
    gap:0px;
    width: 800px; 
    height: 800px;
    align-content: center;
    outline: 5px solid rgb(245, 87, 87);


}

/* .gridSquare:hover { 
    background-color: black;
} */

#buttonContainer{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.gridSquare { 
    border: black 2px;
   
}

.draw { 
    background-color: black;
}

#content { 
    display: flex;
    flex-direction: column;
    gap:50px;

}

.etch-a-sketch-box { 
    display: flex;
    justify-content: center;
}

.input-box { 
    display: flex;
    gap:20px;
}

.permahover { 
    background-color: black;
}
