body { 
    background-color: rgb(4, 6, 41);
}
.box { 
    display: flex;
    justify-content: center;
    border: 5px;
    border-color: black;
}

.squares-container {
    display: grid;
    gap:0px;
    width: 500px; 
    height: 500px;
    align-content: center;
    outline: 5px solid rgb(158 63 63);
    background-color: #f2f2f2;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgb(91 10 24) 0px -2px 10px inset;


}


#buttonContainer{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:10px;
    padding-bottom: 70px;
}



/* .squares-container > div {
    border-top: .01px solid rgba(173, 172, 172, 0.212);
    border-right: .01px solid rgba(173, 172, 172, 0.212);
    border-left: .01px solid rgba(173, 172, 172, 0.212);
    border-bottom: .01px solid rgba(173, 172, 172, 0.212);
} */
  
  

.draw { 
    background-color: black;
}

#content { 
    display: flex;
    flex-direction: column;
    gap: 10px;;
    margin-right: 100px;

}

.etch-a-sketch-box { 
    display: flex;
    justify-content: center;
    padding-top: 30px;
    /* align-items: center; */
  
}

.input-box { 
    font-family: bc-eric-machat, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(252, 227, 227);
    display: flex;
    gap: 83px;
    flex-direction: column;
    margin-bottom: 124px;
    margin-left: -119px;
}

.permahover-black { 
    background-color: black;
}

.permahover-blue { 
    background-color: rgb(22, 5, 255);
}

.permahover-white { 
    background-color: #f2f2f2;
}


.box-border { 
    width: 700px;
    height: 700px;
    margin-right: -600px;
    margin-top: -100px;
    background-color: rgb(231 5 5)
    display: flex;
    flex-direction: column;
    box-shadow: inset rgb(241 118 118 / 40%) 0px 1px 5px 14px;
    border-radius: 10% / 50%;
    justify-content: space-between;
}


.header { 
    padding-bottom: 50px;
    margin-top: 60px;
}

#slider-box{ 
    display: flex;
    flex-direction: row;
    gap:6px;
}

.title-text { 
    font-family: "bc-eric-machat-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6em;
    margin-left: 7px;
    color: #faf5f0;
    text-shadow:-2px 5px 5px rgb(54 53 53 / 45%); 
    letter-spacing: 2px;
}

.upper-content { 
    display: flex;
    justify-content: center;
    gap: 187px;
    margin-top: 5px;
}

.lower-content { 
    display: flex;
    align-items: flex-end;
    padding-left: 88px;
    padding-bottom: 26px;
    font-family: "bc-eric-machat", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(252, 227, 227);
    justify-content: flex-start;
    gap: 43px;
    flex-direction: column;
    align-items: flex-start;
    
}

/* .yellow { 
    color: rgb(128, 10, 10);
} */


.length-output { 
    color: rgb(255 243 243);
    font-family: bc-eric-machat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    padding-left: 60px;
}


  
.input-prompt {
    font-family: "bc-eric-machat", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(255 243 243);
    display: flex;
    justify-content: center;
    font-size: 16px;
    /* text-shadow: -2px 2px 2px rgb(54 53 53 / 45%); */
}


.buttons-box { 
    font-family: "bc-eric-machat", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(252, 227, 227);
    display: flex;
    gap: 20px;
    padding-bottom: 5px;
    padding-left: 65px;
      
  }

  button { 
    font-family: "bc-eric-machat", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: .9em;
    background-color: rgb(218, 25, 25);
    /* border-color: rgb(118, 77, 77); */
    box-shadow:  rgba(207, 142, 142, 0.4) 1px 8px 20px;
    border: 2px solid rgb(243, 156, 156);;
    padding: 4px;
    color: rgb(251, 240, 240);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    /* box-shadow: rgb(42 29 29 / 40%) 1px -3px 3px 1.2px; */
    box-shadow: rgb(122 19 19 / 65%) 0px 3px 0px 1px;
    letter-spacing: .8px;
  }

  button:hover { 
      border: 2px solid white;
      /* background-color: rgb(226, 227, 245) ; */
      color: rgb(255, 255, 255)
  }

  button:active {
    transform: scale(0.9rem);
    background-color: rgb(209, 153, 153);;
    box-shadow: 0 5px #666;
    transform: translateY(-3px);
  }

  #black-button { 
      background-color: black;
      padding: 18px;
  }

  #blue-button { 
      background-color: rgb(22, 5, 255);
      padding: 18px;
  }

  #rainbow-button { 
      padding: 18px;
      font-family: "bc-eric-machat",sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      color: white;
      background: rgb(252,0,0);
      background: linear-gradient(180deg, rgba(252,0,0,1) 13%, rgba(236,255,0,1) 34%, rgba(1,168,30,1) 43%, rgba(50,92,217,1) 58%, rgba(246,20,160,1) 86%);
  }

#grid-button { 
    padding:4px
}


#grid-icon { 
    padding-top: 2px;
    width: 28px; 
    height:28px; 
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 160px;
    transform: rotate(270deg);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 16px;
    box-shadow: rgb(51 10 10 / 65%) 0px -1px 0px 1px;
  }

  input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 16px;
    box-shadow: rgb(51 10 10 / 65%) 0px -1px 0px 1px;
  }

  ::-webkit-slider-thumb { 
    -webkit-appearance: none;
    height: 16px;
    width: 8px;
    background: white;
  }

  ::-moz-range-thumb { 
    -webkit-appearance: none;
    height: 16px;
    width: 8px;
    background: white;
  }